<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<!-- 객체생성 -->
	<bean class="kosta.exam.MemberServiceImpl" id="target"/>
	
	<bean class="kosta.advice.AroundAdvice" id="aroundAdvice"/>
	<bean class="kosta.advice.SampleAdvice" id="sampleAdvice"/>
	
	
	<!-- aop설정 -->
	<aop:config>
		<aop:pointcut expression="execution(public * kosta.exam.*Impl.*(..))" id="pointCut"/>
		
		<aop:aspect id="advice2" ref="sampleAdvice" order="2">
			<aop:before method="before" pointcut-ref="pointCut"/>
			<aop:after method="afterFinally" pointcut-ref="pointCut"/>
			
			<aop:after-returning method="afterReturning" pointcut-ref="pointCut" returning="obj"/>
			<aop:after-throwing method="afterThrowing" pointcut-ref="pointCut" throwing="e"/>
		</aop:aspect>
		
		<aop:aspect id="advice1" ref="aroundAdvice" order="1"><!-- advice하나당 하나 -->
			<aop:around method="around" pointcut-ref="pointCut"/>
		</aop:aspect>
		
	</aop:config>
	
	
</beans>
