<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<bean class="sample08.DbUtil" id="db"/>
	<bean class="sample08.BookDAOImpl" id="bookDao" autowire="constructor"/>
	
	<bean class="sample08.MessageSender" id="mSender"/>
	<bean class="sample08.EmailSender" id="eSender"/>
	<bean class="sample08.BookServiceImpl" id="bookService" autowire="byType">
		<constructor-arg ref="bookDao"/>
	</bean>
	
	<bean class="sample08.BookDTO" id="book1" p:subject="spring" p:writer="jang" p:date="2016-01-01" p:price="24000"/>
	<bean class="sample08.BookDTO" id="book2" p:subject="android" p:writer="hee" p:date="2020-12-31" p:price="30000"/>
	<bean class="sample08.BookController" id="bookController" autowire="constructor"/>
	
	
</beans>
