<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="customerMapper">

	<!-- 아이디 중복체크 -->
	<select id="idCheck" parameterType="string" resultType="string">
		select id from customer where id=#{_parameter}
	</select>
	
	<!-- 전체검색 -->
	<select id="selectAll" resultType="customerDTO">
		select * from customer
	</select>
	
	<!-- 등록 -->
	<update id="insert" parameterType="customerDTO">
		insert into customer values(#{id},#{name},#{age},#{tel},#{addr})
	</update>
	
	<!-- 수정 -->
	<!-- <update id="update" parameterType="customerDTO">
		update customer
		<set>
			name = #{name},
			age = #{age},
			tel = #{tel},
			addr = #{addr}
		</set>
		where id = #{id}
		
	</update> -->
	
	<!-- 삭제 -->
	<!-- <update id="delete" parameterType="string">
		delete from customer
		where id = #{_parameter}
	</update> -->
	
</mapper>