<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


<context:property-placeholder location="/WEB-INF/spring/appServlet/*.properties"/>


<!-- oracle 연결!!!!! -->
<beans:bean	id="dataSource" 
   class="org.apache.commons.dbcp.BasicDataSource"
				p:driverClassName="${driverName}"
				p:url="${url}"
				p:username="${db.userName}"
				 p:password="${db.userPass}"  
				 p:maxActive="10"/>
				
		
   <beans:bean id="sqlSessionFactory" 
   class="org.mybatis.spring.SqlSessionFactoryBean">
		<beans:property name="dataSource" ref="dataSource" />
		<beans:property name="mapperLocations" value="classpath:mapper/*Mapper.xml" /><!--  Mapper.xml 로끝나는 mppter모두 등록 -->
		<beans:property name="typeAliasesPackage" value="kosta.mvc.dto" /><!-- dto폴더안에있는 클래스들 별칭 자동만듦 - 클래스명의 첫글만 소문자!! -->
		<!-- <beans:property name="configLocation" value="classpath:SqlMapConfig.xml"/> -->
	</beans:bean>
	
	 
  <beans:bean id="sqlSession"
     class="org.mybatis.spring.SqlSessionTemplate">
		<beans:constructor-arg index="0" ref="sqlSessionFactory"/>
	</beans:bean>
	
	<beans:bean class="kosta.mvc.dto.TestDTO">
		<beans:property name="id" value="${userName}"/>
		<beans:property name="name" value="${db.userPass}"/>
	</beans:bean>
	
	<!-- interface기반의 Mapper등록 -->
	<beans:bean class="org.mybatis.spring.mapper.MapperFactoryBean">
		<beans:property name="mapperInterface" value="kosta.mvc.repository.CustomerMapper"/>
		<beans:property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</beans:bean>
	
</beans:beans>


