<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 객체 생성 -->
	<bean class="sample04.Student" id="student">
		<property name="name" value="장희정"/><!-- setName()호출 -->
		<property name="no" value="100"/>
		<property name="phone" value="222-3333"/>
		<property name="addr" value="서울"/>
	</bean>
	
	<bean class="sample04.StudentDAOImpl" id="dao"></bean>
	
	<bean class="sample04.StudentServiceImpl" id="service">
		<property name="studentDAO" ref="dao"></property>
	</bean>
	
	<bean class="sample04.StudentController" id="controller">
		<property name="student" ref="student"/><!-- setStudent(Student student)호출 -->
		<property name="studentService" ref="service"/>
	</bean>

</beans>
