<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<!-- 객체생성 -->
	<bean class="kosta.test.advice.LogAdvice" id="advice"/>
	
	<bean class="kosta.test.tv.TvImpl" id="tv"/>
	<bean class="kosta.test.vedio.VedioImpl" id="vedio"/>
	<bean class="kosta.test.audio.AudioImpl" id="audio"/>
	
	
	<!-- aop설정 , xml기반 -->
	<aop:config>
		<aop:aspect id="aspect" ref="advice">
			<aop:around method="around" pointcut="execution(public * kosta.test.*.*Impl.*(..))"/>
		</aop:aspect>
	</aop:config>
	
</beans>
